spring:
  main:
    # 不启用 webserver
    web-application-type: none
  profiles:
    active: dev

leetcode:
  username: name
  password: pwd

mirai:
  username: 123
  password: 456

logging:
  level:
    cc.starxy: debug